body {
    margin:0;
    font-family:sans-serif;
    background:#0f0f0f;
    color:#fff;
}
/* header center full */
header{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

/* logo benar-benar di tengah */
.logo{
    margin:0 auto;
    text-align:center;
}
.logo{
    text-align:center;
    padding:18px 12px;
    font-weight:900;
    font-size: clamp(28px, 5vw, 44px);
    letter-spacing:2px;
    cursor:pointer;

    background: linear-gradient(90deg,#ffffff,#e50914,#ff4d6d,#ffffff);
    background-size:200%;

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    animation: colorShift 6s linear infinite;
}

@keyframes colorShift{
    0% { background-position:0% }
    100% { background-position:200% }
}

.folder-bar {
    display:flex;
    justify-content:center;
    gap:10px;
    padding:10px;
}

.folder {
    background:#1a1a1a;
    padding:6px 12px;
    border-radius:20px;
    cursor:pointer;
}

.grid {
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(140px,1fr));
    gap:15px;
    padding:15px;
}

.card {
    background:#1a1a1a;
    border-radius:10px;
    overflow:hidden;
}

/* THUMB */
.thumb {
    position:relative;
    height:190px;
    background:#000;
}

.thumb video {
    width:100%;
    height:100%;
    object-fit:cover;
}

/* 🔥 PLAY ANIMATION */
.play {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:60px;
    height:60px;
    border-radius:50%;
    background:rgba(0,0,0,0.5);
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    animation:pulse 2s infinite;
}

.play::after {
    content:"";
    border-left:16px solid white;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
}

@keyframes pulse {
    0% { box-shadow:0 0 0 0 rgba(255,77,109,.6); }
    70% { box-shadow:0 0 0 15px rgba(255,77,109,0); }
    100% { box-shadow:0 0 0 0 rgba(255,77,109,0); }
}

/* BUTTON */
.actions {
    position:absolute;
    bottom:8px;
    width:100%;
    display:flex;
    justify-content:space-around;
}

.actions button {
    font-size:11px;
    padding:5px 8px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.watch { background:#ff4d6d; color:#fff; }
.download { background:#333; color:#fff; }

/* PAGINATION */
#pagination {
    display:flex;
    justify-content:center;
    gap:6px;
    padding:20px;
}

#pagination button {
    padding:6px 10px;
    border:none;
    border-radius:6px;
    background:#222;
    color:#fff;
    cursor:pointer;
}

#pagination button.active {
    background:#ff4d6d;
}